<!-- <!DOCTYPE html>
<html lang="en">
	<head>
        <title>Pebble Spring Example</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
		<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>


        <script type="text/javascript" src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css"></script>
    </head>
    <body>


    	<div id="wrap">
	    	<div class="container">
				{% block content %}
					{# This section is to be overriden by child templates #}
				{% endblock content %}
			</div>end container
    	</div>end wrap
    </body>
</html> -->